.fullscreen {
	height: 100%;
	width: 100%;

	min-height: 100vh;
}

.search-bar {
	font-size: inherit;
	outline: none;
}

.search-button {
	background-color: black;
	color: white;
	transition: all 0.25s ease;
}

.search-button:hover {
	background-color: white;
	color: black;
}

.rounded-pill-left {
	border-radius: 50rem 0 0 50rem;
}

.rounded-pill-right {
	border-radius: 0 50rem 50rem 0;
}